button{
    background-color: red;
    color: white;
    border: none;
}
.header{
    padding: 1em;
}
nav{
    display: flex;
    justify-content: space-around;
}
#content{
    height: 100vh;
    width: 100%;
    background-image: url("/src/foodcover.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    font-size: 2rem;
    color: white;
    padding-bottom: 10px;
}
input{
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 25px;
}
